.link {
  font-family: 'Amatic SC', serif;
  font-size:30px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  position: relative;
}
.sublink{
  font-size:18px;
  color:  #5FA59B;
  font-weight: 500;
  text-decoration: none;
  display: block;
  width: 190px;
  padding: 6px 15px;
}
.link:hover, .link:active {
  color: #5FA59B ;
  /* text-decoration: underline; */
  text-decoration-color: #5FA59B;
}
.sublink:hover, .sublink:active{
  color: #333333; 
}
.navbar {
  width: 100%;
} 
.navbar ul{
  list-style-type: none;
}
.navbar_list{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.navbar_sublist{
  position: absolute;
  border-radius: 5px;
  background-color: #e6f2f1;
  padding: 0;
  margin-left: -30px;
  display: none;
}
.link:hover + .navbar_sublist,.navbar_sublist:hover {
  display: block;
}
.icon{
  display: none;
}
.icon:hover{
  color:#5FA59B;
}
@media screen and (max-width:1030px){
  .navbar_list{  
    flex-direction: column;
    justify-content: unset;
    position: fixed;
    top:50px;
    width: 200px;
    height: 100%;
    padding: 10px;
    margin-top: 45px;
    background-color: #e6f2f1;
    border-radius: 8px 0 0 0;
    transition: 300ms ease all;
    right:-202px;
  }
  .navbar_list_active{
    flex-direction: column;
    justify-content: unset;
    position: fixed;
    top:50px;
    width: 200px;
    height: 100%;
    padding: 10px;
    margin-top: 45px;
    background-color: #e6f2f1;
    border-radius: 8px 0 0 0;
    transition: 300ms ease all;
    right:0;
  }
  .link {
    font-family: unset;
    font-size:18px;
    font-weight: 500;
    display: block;
    width: 190px;
    padding: 6px 15px;
    position: unset;
  }
  .sublink{
    font-size:16px;
    font-weight: 400;
    padding-left: 30px;
  }
  .navbar_sublist{
    margin: 0;
    position: unset;
    background-color: white;
  }
  .icon{
    display:block;
    }
}